.price {
    margin-top: 60px;

    &__wrapper {
        display: grid;
        margin-top: 60px;
        padding: 0 51px 0 75px;
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(3, minmax(44px, auto));
        grid-auto-rows: minmax(44px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        justify-content: space-between;
        align-content: space-between;
        position: relative;

        &-price {
            text-align: end;
        }

        &-product {
            @include before_circle_price;
        }

        &-descr {
            font-size: 12px;
            grid-column: 1/3;
        }
    }


}