.resume {
    padding-top: 120px;



    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }

    &__column {


        &-title {
            position: relative;
            padding-left: 35px;

            &::before {
                content: '';
                position: absolute;
                height: 15px;
                width: 15px;
                border-radius: 100%;
                background-color: $main-color;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        ul {
            list-style-type: none;
            position: relative;

            li {
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 26px);
                    top: -31px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }

    &__item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 40px;
            background-color: black;
            top: 68px;
        }

        &-head {
            padding: 45px 0 0 100px;
            position: relative;

            h4 {
                margin-bottom: 0;
            }
        }

        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }

        &-icon {
            position: absolute;
            top: 70px;
            left: 67px;
            @include before_circle;

            &:before {
                left: -27px;
                top: -21px;
            }

            img {
                position: absolute;
                transform: translate(-10px, -6px);
            }
        }

        &-location {
            font-size: 12px;
            margin-top: 5px;

        }

    }
}